# http://stackoverflow.com/questions/18463755/linux-start-daemon-on-connected-usb-serial-dongle
[Unit]
Description=interceptkb
After=remote-fs.target
After=syslog.target

[Service]
; Left Meta (Windows) Key
ExecStart=/usr/local/bin/interceptkb 125
